[
    {
        "attributeGroups": [
            "^class$",
            "^(id|name)$",
            "$DEFAULT",
            "^aria-"
        ]
    },
    {
        "attributeGroups": [
            "$DEFAULT",
            "^data-"
        ],
        "attributeSort": "ASC"
    }
]